.service {
  border-radius: 10px 10px;
  border: 2px solid black
  box-shadow: 8px 16px gray;
}

.service:hover{
    background-color: black;
    color: white;
    border-width: 2px;
}

.bi{
  color: red;
  font-size: 20px;
}

@media (max-width: 768px){
.social-icon{
  margin-left: 20px;
}
}

  
