
  
  .card:hover{
      border: 1px solid red;
  }
  
  .bi{
    color: red;
    font-size: 15px;
  }

.navbar{
  border-top-right-radius: 10px;
}

.social-icon{
  margin-left: 60px;
  display: flex;
  justify-content: flex-end;
}

.social-brand{
  display: flex;
}
.navbar-collapse{
  color: white;
}

@media (min-width: 992px){
  .social-icon{
    margin-left: 600px;
  }
}



.navbar-light .navbar-toggler{
  border: 1px solid white;
}

.navbar-toggler:focus{
  box-shadow: none;
}
